body {
   
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Hem min-height hem height yerine yalnızca biri kullanılmalı */
    margin: 0;
    background-color: #2c3e50; /* Koyu tonlu bir renk */
    background-image: linear-gradient(to bottom, rgba(44, 62, 80, 0.8), rgba(52, 152, 219, 0.8)); /* Soft geçişli bir arka plan */
}

.container {
    width: 300px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* #backButton için gerekli */
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper input {
    padding-right: 40px; /* Göz simgesi için boşluk */
}

.password-wrapper .toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #555;
    font-size: 16px;
}

.password-wrapper .toggle-password:hover {
    color: #000;
}

input {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Form elemanları genişlik açısından tutarlı */
    box-sizing: border-box; /* İçerik genişliğini hesaba katar */
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* Tutarlı buton genişliği */
    box-sizing: border-box;
}

button:hover {
    background-color: #0056b3;
}

.switch {
    margin-top: 10px;
    text-align: center;
    color: #007bff;
    cursor: pointer;
}

#backButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    text-align: right;
}


#backButton:hover {
    color: #007bff;
}
